# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Pytest
.pytest_cache/

# Logs
*.log

# Node
node_modules/

# Build files
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
